/.git/
/.pytest_cache/
/.dockerignore
/.pre-commit-config.yaml
/.coverage
/tests/
/.github/
/.vscode/
/.python-version
/.tox/
/docker-compose.yml
/Dockerfile
/.pytest.ini
/.gitignore
/.benchmarks/
/.gitattributes
/.labtasker/
/coverage.xml
/docs/
/Makefile
/PRIVACY.md
/README.md
/server.example.env
/tox.ini
/docker/
**/*.egg-info
**/*.swp
**/__pycache__
build
demo
assets
