name: Lint

on:
  push:
    branches: [ main, dev ]
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install linter dependencies
        run: |
          pip install flake8 mypy

      - name: Run linter
        run: make lint
